@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@100&display=swap');
*{
    padding: 0%;
    margin: 0%;
    font-family: "Poppins", sans-serif;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 25%;
    padding: 25px; 

}
.UI-profile {
    display: flex;
    flex-direction:column;
    align-items: center;
    max-width: 450px;
    width: 100%;
    background-color: FFFED3;
    padding: 25px;
    box-shadow: 5px 5px 10px rgba(126, 23, 23, 0.1);
    position: relative;
}
.UI-profile::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 35%;
    width: 100%;
    background-color:#2e86c1  ;
}
.image{
    position: relative;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: rgb(40, 40, 90);
    padding: 3px;
    margin-bottom: 8px;
}
.image .my-img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 0px solid white;
    
}
.UI-profile .text{
    display: flex;
    flex-direction:column;
    align-items: center;

}
.text .name{
    font-size: 25px;
    font-weight: 600px;
    

}
.text .job{
    font-size: 15px;
    font-weight: 600px;

}
.UI-profile .media-buttons{
    display: flex;
    align-items: center;
    

}
.media-buttons .link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    font-size: 15px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 0 12px;
    background-color: rgb(3, 15, 26);
    text-decoration: none;
}
.UI-profile .buttons{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.buttons .button{
    color: white;
    font-size: 14px;
    font-weight: 300px;
    margin: 0 10px;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    background-color: grey;
    cursor: pointer;
}
.buttons .button:hover{
    background-color: rgb(21, 143, 143);
}
.UI-profile .analytics{
   display: flex;
   align-items: center;
   margin-top: 30px;

}
.analytics .data{
    display: flex;
    align-items: center;
    color: #333;
    padding: 0 20px;
    border-right: 2px solid black;
}
.data i {
    font-size: 15px;
    margin-right: 5px;
}